@use "../utils/variable";

body {
    min-width: 22.5rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
}
main {
    margin: 0;
}

h1,h2 {
    padding: 0;
    margin: 0;
}

h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}
  
.conteneur {
    max-width: 1024px;
    margin: 0 auto;
}
// Icons FontAwesome //

i.fa-mobile-alt, .fa-list-ul, .fa-store {
    color: gray;
    font-size: 1.125rem;
}
i.fa-store {
    color: #9356DC;
} 
i.fa-solid.fa-ustensils, i.fa-solid.fa-handshake-angle {
    font-size: 0.813rem;
}


i.fa-regular.fa-heart i.fa-solid.fa-heart {
  font-size: 1.313rem;
}

i.fa-solid.fa-arrow-left {
  position: absolute;
  left: 3px;
  font-size: 1.875rem;
}

i.fa-solid.fa-ustensils, i.fa-solid.fa-handshake-angle {
  font-size: 0.813rem;
}

i.fa-check-circle {
    color: white;
}
// animation //
.fa-3x {
    display: flex;
    justify-content: space-around;
    align-items: center;
    i {
        margin: 0 50px;
    }
}
i.fa-solid.fa-martini-glass-citrus, i.fa-solid.fa-spinner, i.fa-solid.fa-bowl-rice {
    font-size: 150px;
}
.fa-solid.fa-martini-glass-citrus {
    color: #FF79DA;
}
.fa-solid.fa-spinner {
    color: #9356DC;
}
.fa-solid.fa-bowl-rice {
    color: #99e2d0;
}