@use "../utils/variable";
@use "../utils/mixin";

.top__images {
    height: 21.875rem;
    width: 100%;
    overflow: hidden;
    img {
        width: 100%;
        object-fit: cover;
        position: relative;
        top:-100%;
      } 
  }
  .url_images1 {
    background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    background-position: 50% 65%;
  }
  .url_images2 {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    background-position: 50% 65%;
  }
  .url_images3 {
    background: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: 50% 65%;
  }
  .url_images4 {
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    background-position: 50% 65%;
  }
  .restaurant {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    position: relative;
    padding: 0 0.81rem;
    border-radius: 2.5rem 2.5rem 0 0;
    margin: -4rem auto 0;
    background: $lightgreybtn;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1.94rem 0 0 0;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        &--txt {
            color: $black;
            font-family: Shrikhand;
            font-size: 1.75rem;
            font-weight: 400;
            height: 1.688rem;
            padding-bottom: 1.25rem;
        }
        .card__btn--heart2 {
            @include mixin.heart;
            position: relative;
            right: 3.938rem;
            top: -1.875rem;
            font-size: 1.5rem;
            i {
                position: absolute;
                transform: translateY(-50%);
                left: 0;
                transition: opacity 0.3s;
                vertical-align: middle;
            }
            i.fa-regular {
                opacity: 1; 
                &:hover {
                    opacity: 0;
                }
            }
            i.fa-solid {
                opacity: 0;
                &:hover {
                    opacity: 1; 
                    background: $heart;
                    -webkit-background-clip: text;
                    color: transparent;
                } 
            }
        }    
    }
}
    .menu {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        &__card {
            width: 100%;
            &:hover .menu__content--animation {
                background-color: $tertiaire;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 0.9375rem 0.9375rem 0;
                width: 5rem;
                transition: all 0.8s;
            }
            &--txt {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 0.313rem;
                width: 100%;
                padding: 1.25rem;
            }    
        }
        
    }        
    .menu__content {
        display: flex;
        justify-content: space-between;
        border-radius: 0.938rem;
        background: $white;
        box-shadow: 0 0.25rem 0.938rem 0 rgba(0, 0, 0, 0.10);
        position: relative;
        &--txt {
            display:flex;
            align-items: flex-end;
            font-weight: 700;
        }
        &--price {
            display: flex;
            padding: 1.25rem;
        }
        &--animation {
            color: $white;
            width: 0;
            font-size: 0;
            
        }
        h3 {
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
    
.menu_link {
    border-bottom: 0.188rem solid $tertiaire;
    width: 2.5rem;
    padding-bottom: 0.625rem;
}
.menu_title-txt {
    font-size: 1rem;
    font-weight: 300;
}
.menu_card h3 {
    font-size: 1.125rem;
    font-weight: 600;    
}
      
.menu_card p {
    font-size: 0.938rem;
    font-weight: 300;    
}
    
.menu_btn {
    display: flex;
    justify-content: center;
    padding: 1.75rem 0 2.5rem 0;
}
.menu_btn--color {
    width: 11.625rem;
    height: 3.125rem;
    color: $white;
    border: none;
    border-radius: 1.563rem;
    background: $Button-Gradient;
    box-shadow: 0 0.25rem 0.938rem 0 rgba(0, 0, 0, 0.35);
    &:hover {
        opacity: 0.9;
        box-shadow: 0 0.25rem 0.938rem 0 rgba(0, 0, 0, 0.70);
        transition: 0.8s;
    }
}


@media (min-width: 64rem) { 
   
    .restaurant__title {
        justify-content: center;
        .card__btn--heart2 {
            top: -1.688rem;
            right: -1.813rem;
        }
    }
}
  
  
